@{

    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>Seja bem vindo ao CooperPart!</h1>
    <p class="lead">CooperPart, é um sistema de gestão para cooperativas médicas. Desenvolvido especialmente para facilitar os processos da cooperativa e alavancar o resultado dos seus cooperados.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consultas</h2>
        <p>
            Saiba exatamente todas consultas marcadas para o dia, podendo consultar por paciente ou profissional.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Liberações</h2>
        <p>Cadastre ou consulte liberações dos convênios médicos de forma simples e fácil.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pacientes</h2>
        <p>Obtenha a lista de todos os pacientes cadastrados ou realiza novos cadastros.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ir &raquo;</a></p>
    </div>
</div>