@{

    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>VS Officium</h1>
    <p class="lead">VS Officium é o sistema da VS Valesoft desenvolvido para gestão de controle de produção para prestadores de serviços médicos.</p>
    <p><a href="https://vsvalesoft.wixsite.com/vsvalesoft" class="btn btn-primary btn-lg">Veja o tutorial &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consultas</h2>
        <p>
            Saiba exatamente todas consultas marcadas para o dia, podendo consultar por paciente ou profissional.
        </p>
        <p>@Html.ActionLink("Ir...", "index", "Consultas", null, new { @class = "btn btn-default" })</p>

    </div>
    <div class="col-md-4">
        <h2>Liberações</h2>
        <p>Cadastre ou consulte liberações dos convênios médicos de forma simples e fácil.</p>
        <p>@Html.ActionLink("Ir...", "index", "Liberacoes", null, new { @class = "btn btn-default" })</p>

    </div>
    <div class="col-md-4">
        <h2>Pacientes</h2>
        <p>Obtenha a lista de todos os pacientes cadastrados ou realiza novos cadastros.</p>
        <p>@Html.ActionLink("Ir...", "index", "Pacientes", null, new { @class = "btn btn-default" })</p>
  </div>
</div>